<nav>
  <section class="info">
    <section class="title">
      <a href="/">
        <h1>UCL Combinatorics Seminar</h1>
      </a>
      <p>Mondays 4pm-5pm UCLU 706</p>
    </section>
  </section>

  <!-- Mobile nav -->
  <div id="mobile-nav" onclick="openNav()">
    <i class="fas fa-bars"></i>
  </div>

  <section id="mySidenav" class="main-links">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name }}
    </a>
    {% endfor %}
  </section>
</nav>
