.landing {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: 15%;
  margin-top: 10%;
  padding: 0;

  h1 {
    color: $main-accent;
    width: 66.66%;
    text-align: left;
    line-height: 1.25;
  }

  .desc {
    width: 66.66%;
    padding-top: 1rem;
    font-family: $heading-font;
    color: $dark-grey;
  }

  .diag {
    background-color: $main-accent;
    left: 45%;
    margin: 1rem;
    margin-bottom: 0;
    height: 1px;
    width: 400px;
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    position: relative;
  }

  .landing-links {
    font-family: $heading-font;
    text-transform: uppercase;
    width: 20%;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 63%;
    padding-top: 1rem;
  }

  .landing-links a {
    margin-right: 10px;
  }
}

//Mobile styling adjustments
@media only screen and (max-width: $tablet) {
  .landing {
    margin-left: 5%;
    margin-top: 10%;

    h1 {
      width: 90%;
    }

    .desc {
      width: 90%;
      font-size: 1.1rem;
    }

    .diag {
      display: none;
    }

    .landing-links {
      width: 50%;
      margin-left: 0;
    }
  }
}
