//Colors
$main-accent: #00B595;
$dark-grey: #666;
$light-grey: #ededed;
$section-line: #ccc;
$main-body: #333;
$definition: #00AFD8;

//Fonts
$heading-font: sofia-pro, sans-serif;
$body-font: adobe-text-pro, serif;
$mono-font: roboto-mono, monospace;
$base-font-size: 14pt;

//Other
$content-width: 57%;
$mobile-content-width: 90%;
$nav-width: 90%;
$footer-height: 7rem;
$profile-img-width: 250px;

//Mobile Breakpoints
$mobile: 767.98px;
$tablet: 1023.98px;
