//Colors
$main-accent: #5D3FD3;
$dark-grey: #666;
$light-grey: #ededed;
$section-line: #ccc;
$main-body: #333;
$definition: #00AFD8;

//Fonts
$heading-font: adobe-text-pro, serif;
$body-font: adobe-text-pro, serif;
$mono-font: adobe-text-pro, serif;
$base-font-size: 14pt;

//Other
$content-width: 65%;
$mobile-content-width: 90%;
$nav-width: 93%;
$footer-height: 6rem;
$profile-img-width: 250px;

//Mobile Breakpoints
$mobile: 767.98px;
$tablet: 1023.98px;
